*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-color: #252440;
     
    text-align: center;
    align-items: center;
    position: relative;

}

.carousel-item>img{
    max-width: 800px;

    max-height:500px ;
    text-align: center;
}
.center{
    text-align: center;
    align-items: center;
}