* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #252440;

  text-align: center;
  align-items: center;
  position: relative;
  color: white;
}

.font {
  font-size: larger;
  color: white;
}

.carousel-item > img {
  max-height: 400px;
  text-align: center;
}
.center {
  text-align: center;
  align-items: center;
}

section {
  color: black;
}

.img {
  width: 350px;
  height: 330px;
}
